name: "Terraform EKS Pipeline"

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  workflow_dispatch:

permissions:
  id-token: write # OIDC ke liye zaroori hai
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::723626972500:role/AmazonEKSClusterPolicy
          aws-region: us-east-1

      - name: Terraform Init
        run: terraform init -chdir=terraform

      - name: Terraform Plan
        run: terraform plan -chdir=terraform

      - name: Terraform Apply
        if: github.ref == 'refs/heads/main'
        run: terraform apply -auto-approve -chdir=terraform